<header class="nav header bg">
  <nav class="navbar navbar-light content">
      <img src="http://218.234.17.80:8000/img/law-cut-icon_03.png">
      <a class="navbar-brand" href="/">CODE11</a>

  </nav>
</header>

<main class="container">
<div class="row">
  <div class="col-12">
    <app-search></app-search>
  </div>

</div>
  <app-home></app-home>
  <app-home></app-home>
  <app-home></app-home>
  <app-home></app-home>
  <app-home></app-home>
</main>
<footer>
© 2019 Code11.com Designer by Khanh
</footer>
