$color: #fff;
$header-bg: #007fff;
$h1-font-size: 35px;

h1 {
  color: $color;
}

.nav {
  background: $header-bg;
  width: 100%;
  height: 6em;
}

.navbar-light .navbar-brand {
  color: $color;
  font-size: $h1-font-size;
  font-weight: bold
}

footer {
 display: flexbox;
 flex: 1;
 border-top: 1px solid #eee;
 clear: both;
 height: 50px;
}

.form-control {
  line-height: 2.5 !important;
}

.btn-success {
  color: #fff;
  background-color: #A9C965 !important;
  border-color: #A9C965 !important;
  border-radius: none !important;
  width: 5em;
}

.form-search
{
  margin-top: 2em;
}

.content {
  margin-left: 12%;
  margin-right: 4%;
}
