
  <div class="row data">
    <div class="col-md-4">
      <a href="#">
        <img class="img_thumbail" alt="" src="http://www.mhkot.net:8282/uploads/7wOS20190328003612-1.jpg"
          ></a>
    </div>
    <div class="col-md-8">
      <h5 class="title"><a href="#">Lorem Ipsum is simply dummy text of the printing and typesetting </a></h5>
      <p class="description">ce the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also </p>
      <p></p>
    </div>
  </div>

