
  <div class="row">
    <div class="col-4">
      <a href="/new/2295/how-digitalization-transforms-vietnam">
        <img alt="" src="http://www.mhkot.net:8282/uploads/7wOS20190328003612-1.jpg"
          class="rounded float-left img_new"></a>
    </div>
    <div class="col-8">
      <h5><a href="/new/2295/how-digitalization-transforms-vietnam">Lorem Ipsum is simply dummy text of the printing and typesetting </a></h5>
      <p class="description">ce the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also </p>
      <p></p>
    </div>
  </div>

